<div class="nested-fields">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <%= f.label :text, "Alternativa" %>
        <%= f.text_field :text, class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-2" style="margin-top: 2em">
      <div class="form-group">
        <%= f.label :correct_option, class: 'checkbox' do %>
          <%= f.check_box :correct_option %>
          <span>Alternativa correta</span>
        <% end %>
      </div>
    </div>
    <div class="col-md-2" style="margin-top: 2em">
      <%= link_to_remove_association "Remover Alternativa", f, class: 'btn btn-embossed btn-warning' %>
    </div>
  </div>
</div>
