<div class="breadcrumb-text ptl">
  <h4 class="caption">Quizzes</h4>
  <ul>
    <li><%= link_to("Disciplinas", disciplines_path) %></li>
    <li><%= link_to(@discipline.name, discipline_path(@discipline)) %></li>
    <li><%= link_to("Tópicos", discipline_topics_path(@discipline)) %></li>
    <li><%= link_to(@topic.name, discipline_topic_path(@discipline, @topic)) %></li>
    <li>Quizzes</li>
  </ul>
</div>

<table class="table table-bordered table-hover datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @quizzes.each do |quiz| %>
      <tr>
        <td><%= quiz.name %></td> 
        <td><%= link_to 'Exibir',  discipline_topic_quiz_path(@discipline, @topic, quiz) %></td>
        <td><%= link_to 'Editar', edit_discipline_topic_quiz_path(@discipline, @topic, quiz) %></td>
        <td><%= link_to 'Excluir', discipline_topic_quiz_path(@discipline, @topic, quiz), method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br><br>

<%= link_to 'Novo Quiz', new_discipline_topic_quiz_path, class: 'btn btn-embossed btn-success' %>
