<div class="breadcrumb-text ptl">
  <h4 class="caption">Criar Quiz</h4>
  <ul>
    <li><%= link_to("Disciplinas", disciplines_path) %></li>
    <li><%= link_to(@discipline.name, discipline_path(@discipline)) %></li>
    <li><%= link_to("Tópicos", discipline_topics_path(@discipline)) %></li>
    <li><%= link_to(@topic.name, discipline_topic_path(@discipline, @topic)) %></li>
    <li>Novo Quiz</li>
  </ul>
</div>

<%= render 'form', quiz: @quiz %>

<div class="spacing"></div>

<%= link_to 'Voltar',  discipline_topic_quizzes_path(@discipline, @topic) %>
