<div class="breadcrumb-text ptl">
  <h4 class="caption">Detalhes do Quiz</h4>
  <ul>
    <li><%= link_to("Disciplinas", disciplines_path) %></li>
    <li><%= link_to(@discipline.name, discipline_path(@discipline)) %></li>
    <li><%= link_to("T처picos", discipline_topics_path(@discipline)) %></li>
    <li><%= link_to(@topic.name, discipline_topic_path(@discipline, @topic)) %></li>
    <li><%= link_to("Quizzes", discipline_topic_quizzes_path(@discipline, @topic)) %></li>
    <li><%= @quiz.name %></li>
  </ul>
</div>

<div class="jumbotron">

  <p style='margin: 0'>
    <strong>Nome:</strong>
    <%= @quiz.name %>
  </p>

  <% if @quiz.questions.empty? %>
    <p>Esse quiz n찾o possui nenhuma quest찾o cadastrada.</p>
  <% else %>
    <p><strong>Quest천es:</strong></p>
    <form action="/evaluate" method="post">
      <%= hidden_field_tag 'discipline_id', @discipline.id %>
      <%= hidden_field_tag 'topic_id', @topic.id %>
      <%= hidden_field_tag 'quiz_id', @quiz.id %>

      <ol style='margin: 0'>
        <% @quiz.questions.shuffle.each do |question| %>
        <li><%= question.statement %></li>
          <% question.answers.shuffle.each_with_index do |answer, index|%>
            <div class="radio">
              <label style="margin-top: -6px; padding-left: 0">
                <%= radio_button_tag('questions[' + "#{answer.question_id}" + ']', answer.id)%>
                <%= answer.text %>
              </label>
            </div>
          <% end %>
        <% end %>
      </ol>
      <input type="submit" value="Submeter Respostas" class="btn btn-embossed btn-success">
    </form>
  <% end %>

</div>

<%= link_to 'Editar', edit_discipline_topic_quiz_path(@discipline, @topic, @quiz), class: 'btn btn-embossed btn-success' %>
<span>&nbsp;</span>
<%= link_to 'Voltar', discipline_topic_quizzes_path, class: 'btn btn-embossed btn-info' %>
