<%= form_for(discipline) do |f| %>
  <% render partial: 'layouts/error_messages', locals: {entity: discipline} %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div id="topics">
    <h5>Tópicos: </h5>
    <%= f.fields_for :topics do |topic| %>
      <%= render 'topic_fields', f: topic %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'Adicionar um tópico', f, :topics %>
    </div>
  </div>

  <div class="spacing"></div>

  <div class="actions">
    <%= f.submit 'Enviar', class: 'btn btn-embossed btn-success' %>
  </div>

  <div class="spacing"></div>

<% end %>
