<h4>Disciplinas</h4>

<table class="table table-bordered table-hover datatable">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Inscrição</th>
      <th>Quantidade de Tópicos</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @disciplines.each do |discipline| %>
      <tr>
        <td><%= discipline.name %></td>
        <td>
          <% if current_user.disciplines.include? discipline %>
            <%= link_to("Me desinscrever", discipline_disassociate_path(discipline), class: 'btn btn-danger btn-xs', method: :patch, remote: true) %>
          <% else %>
            <%= link_to("Me inscrever", discipline_associate_path(discipline), class: 'btn btn-success btn-xs', method: :patch, remote: true) %>
          <% end %>
        </td>
        <td><%= discipline.topics.size %></td>
        <td><%= link_to 'Exibir', discipline %></td>
        <td><%= link_to 'Editar', edit_discipline_path(discipline) %></td>
        <td><%= link_to 'Excluir', discipline, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<br>

<%= link_to 'Nova Disciplina', new_discipline_path, class: 'btn btn-embossed btn-success' %>
