<div class="breadcrumb-text ptl">
  <h4 class="caption">Disciplina e T처picos</h4>
  <ul>
    <li><%= link_to("Disciplinas", disciplines_path) %></li>
    <li><%= @discipline.name %></li>
  </ul>
</div>

<div class="jumbotron">
  <p>
    <strong>Nome: </strong>
    <%= @discipline.name %>
  </p>
  
  <% if @discipline.topics.empty? %>
    <p>Essa disciplina n찾o possui nenhum t처pico cadastrado.</p>
  <% else %>
    <p><strong>T처picos:</strong></p>
    <ul style='margin: 0'>
      <% @discipline.topics.each do |topic| %>
      <li><%= topic.name %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= link_to 'Editar', edit_discipline_path(@discipline), class: 'btn btn-embossed btn-success' %>
<span>&nbsp;</span>
<%= link_to 'Voltar', disciplines_path, class: 'btn btn-embossed btn-info' %>
