<div class="breadcrumb-text ptl">
  <h4 class="caption">Disciplina e Tópicos</h4>
  <ul>
    <li><%= link_to("Disciplinas", disciplines_path) %></li>
    <li><%= @discipline.name %></li>
  </ul>
</div>

<div class="jumbotron">
  <p>
    <strong>Nome: </strong>
    <%= @discipline.name %>
  </p>
  
  <% if @discipline.topics.empty? %>
    <p>Essa disciplina não possui nenhum tópico cadastrado.</p>
  <% else %>
    <p><strong>Tópicos:</strong></p>
    <ul style='margin: 0'>
      <% @discipline.topics.each do |topic| %>
      <li><%= link_to topic.name, discipline_topic_path(@discipline, topic) %></li>
      <% end %>
    </ul>
    <br>
    <%= link_to("Ver todos os tópicos", discipline_topics_path(@discipline), class: 'btn btn-embossed btn-info btn-sm') %>
    <span>&nbsp;</span>
    <%= link_to("Exportar tópicos", discipline_export_path(@discipline), class: 'btn btn-inverse btn-embossed btn-sm') %>
  <% end %>
</div>

<%= link_to 'Editar', edit_discipline_path(@discipline), class: 'btn btn-embossed btn-success' %>
<span>&nbsp;</span>
<%= link_to 'Voltar', disciplines_path, class: 'btn btn-embossed btn-info' %>
