<%= form_for([@discipline, topic]) do |f| %>
  <%= render partial: 'layouts/error_messages', locals: { entity: topic } %>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label 'Nome' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div id="quizzes">
    <h5>Quizzes: </h5>
    <%= f.fields_for :quizzes do |quiz| %>
      <%= render 'quiz_fields', f: quiz %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'Adicionar um quiz', f, :quizzes %>
    </div>
  </div>

  <div class="spacing"></div>

  <div class="actions">
    <%= f.submit 'Enviar', class: 'btn btn-embossed btn-success' %>
  </div>

  <div class="spacing"></div>
<% end %>
