<div class="breadcrumb-text ptl">
  <h4 class="caption">Tópicos</h4>
  <ul>
    <li><%= link_to("Disciplinas", disciplines_path) %></li>
    <li><%= link_to(@discipline.name, discipline_path(@discipline)) %></li>
    <li>Tópicos</li>
  </ul>
</div>

<table class="table table-bordered table-hover datatable">
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.name %></td>
        <td><%= link_to 'Exibir', discipline_topic_path(@discipline, topic) %></td>
        <td><%= link_to 'Editar', edit_discipline_topic_path(@discipline, topic) %></td>
        <td><%= link_to 'Excluir', discipline_topic_path(@discipline, topic), method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br><br>

<%= link_to 'Novo Tópico', new_discipline_topic_path, class: 'btn btn-embossed btn-success' %>
