<p id="notice"><%= notice %></p>

<h1>Topicos</h1>

<table class="table table-bordered table-hover datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.name %></td>
        <td><%= link_to 'Exibir', topic %></td>
        <td><%= link_to 'Editar', edit_topic_path(topic) %></td>
        <td><%= link_to 'Excluir', topic, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Tópico', new_topic_path, class: 'btn btn-embossed btn-success' %>
