<div class="breadcrumb-text ptl">
  <h4 class="caption">Detalhes do T처pico</h4>
  <ul>
    <li><%= link_to("Disciplinas", disciplines_path) %></li>
    <li><%= link_to(@discipline.name, discipline_path(@discipline)) %></li>
    <li><%= link_to("T처picos", discipline_topics_path(@discipline)) %></li>
    <li><%= @topic.name %></li>
  </ul>
</div>

<div class="jumbotron">

  <p style='margin: 0'>
    <strong>Nome:</strong>
    <%= @topic.name %>
  </p>

  <% if @topic.quizzes.empty? %>
    <p>Esse t처pico n찾o possui nenhum quiz cadastrado.</p>
  <% else %>
    <p><strong>Quizzes:</strong></p>
    <ul style='margin: 0'>
      <% @topic.quizzes.each do |quiz| %>
      <li><%= link_to quiz.name, discipline_topic_quiz_path(@discipline, @topic, quiz) %></li>
      <% end %>
    </ul>
    <br>
    <%= link_to("Ver todos os quizzes", discipline_topic_quizzes_path(@discipline, @topics), class: 'btn btn-embossed btn-info btn-sm') %>
  <% end %>

</div>

<%= link_to 'Editar', edit_discipline_topic_path(@discipline, @topic), class: 'btn btn-embossed btn-success' %>
<span>&nbsp;</span>
<%= link_to 'Voltar', discipline_topics_path, class: 'btn btn-embossed btn-info' %>
