<% content_for :title, "Usuários" %>

<table class="table table-bordered table-hover datatable">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Login</th>
      <th>Email</th>
      <th>Admin?</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.login %></td>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
        <td><%= link_to 'Exibir', user %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <td><%= link_to 'Excluir', user, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br><br>

<%= link_to 'Novo Usuário', new_user_path, class: 'btn btn-embossed btn-success' %>