<div class="breadcrumb-text ptl">
  <h4 class="caption">Perfil do Usuário</h4>
  <ul>
    <li><%= link_to("Usuários", users_path) %></li>
    <li><%= @user.name %></li>
  </ul>
</div>

<div class="jumbotron">
  <p>
    <strong>Nome:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Login:</strong>
    <%= @user.login %>
  </p>

  <p>
    <strong>Admin: </strong>
    <%= @user.admin %>
  </p>

</div>


<%= link_to 'Editar', edit_user_path(@user), class: 'btn btn-embossed btn-success' %>
<span>&nbsp;</span>
<%= link_to 'Voltar', users_path, class: 'btn btn-embossed btn-info' %>
